.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding: 20px;
  background-color: olivedrab;
  width: 250px;
}

.todolist-empty {
  border: 3px solid red;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255,58,47,0.67);
  width: 250px;
}

.task {
  font-weight: bold;
}

.task-done {
  font-weight: normal;
  text-decoration: line-through;
}

.btn-active {
  background-color: dodgerblue;
  color: #fff;
  border: 3px solid dodgerblue;
  border-radius: 2px;

}

.input-error {
  outline: none;
  border: 3px solid red;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}